:root {
    --primary: #22bef1!important;
}
html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
body{
    font-family: lato, sans-serif;
    padding: 0px;
    margin: 0px;
}
.container {
    max-width: 960px!important;
}
h1 {
    color: #016992;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    font-size: 36px;
    font-weight: 900;
}
.page-wrapper{
    background-color: rgba(1, 105, 146, .2);
    background-image: repeating-linear-gradient(120deg, rgba(255,255,255,0.4), rgba(255,255,255,.4) 1px, transparent 1px, transparent 60px),
        repeating-linear-gradient(60deg, rgba(255,255,255,.4), rgba(255,255,255,0.4) 1px, transparent 1px, transparent 60px),
        linear-gradient(60deg, rgba(1, 105, 146, 0.1) 25%, transparent 25%, transparent 75%, rgba(1, 105, 146, 0.1) 75%, rgba(1, 105, 146, 0.1)),
        linear-gradient(120deg, rgba(1, 105, 146, 0.1) 25%, transparent 25%, transparent 75%, rgba(1, 105, 146, 0.1) 75%, rgba(1, 105, 146, 0.1));
    background-size: 70px 120px;
    background-position: center;
    min-height: calc(100% - 125px)!important;
    margin:0px;
    padding: 30px 0px 30px;
    box-sizing:  border-box;
}
.mandy-name{
    background-image:linear-gradient(#22bef1, #016992);
    color: #fff;
    font-size: 44px;
    padding: 0px 20px;
    width: auto;
    display: inline-block;
    font-family: 'Great Vibes', cursive;
}
nav ul li:hover{
    color:#22bef1;
}
a.nav-link{
    position: relative!important;
    padding: 8px 15px!important;
    text-transform: uppercase;
}
li:nth-child(n+2) a.nav-link:before{
    content:'';
    width: 1px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 0px;
    padding: 0px;
    margin: 0px;
}
a.nav-link:active:hover:after {
    content:'';
    width: 30px;
    height: 2px;
    background-color: #03A9F4;
    position: absolute;
    bottom: 0px;
    left: 15px;
    padding: 0px;
    margin: 0px;
}
.divider-line {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin: 15px 0px 30px;
}
#bio-image{
    border-radius: 15px;
    border: 2px solid #03A9F4;
}
footer {
    background-color: #2b2b38;
    border-top: 2px solid #22bef1;
    position: relative;
    bottom: 0px;
    padding-top: 10px;
    width: 100%;
    height:  50px;
}
.portfolio-item-container{
    background-color: #016992;
    border-radius: 15px;
    border: 2px solid #03A9F4;
    overflow: hidden;
}

.portfolio-item-container:hover img {
    opacity: 0.5;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.project-name {
    bottom: 50px;
    width: 100%;
    background-color: rgba(3, 169, 244, 0.8);
}
.project-name h2 {
    font-size: 20px;
    text-align: center!important;
    padding-top: 8px;
    color: #fff;
    font-weight: 700;
}
.btn-primary{
    background-color: #22bef1;
    border: #22bef1;
}
.btn-primary:hover{
    background-color: #016992;
    border: #016992;
}
@media only screen and (max-width:767px){
    .navbar-collapse {
        border-top: 2px solid #016992;
    }
    li:nth-child(n+2) a.nav-link:before{
        display: none;
    }
}